<form action="/submit" method="POST" style="display: inline;">
  <label for="url-input">Enter a URL:</label>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="http://xxxxx.com"
      aria-label="Your website URL"
      aria-describedby="button-addon"
      id="url-input"
      name="url"
      required
    />
    <button
      class="btn btn-outline-secondary"
      type="button submit"
      id="button-addon"
    >Shorten</button>
  </div>
</form>

<form style="display: inline;">This is your shortener URL:</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" id="url-shortened"
      aria-label="Shortened URL" aria-describedby="button-addon" disabled readonly/>
    <button class="btn btn-outline-dark" type="button" disabled>Copy</button>
  </div>

  <script>
    function copy() {
      const URL = document.getElementById('url-shortened')
      navigator.clipboard.writeText(URL.innerText)
        .then(() => alert('Successfully copied!'))
        .catch(error => console.log(error))
    }
  </script>
</form>