<form style="display: inline;">
  <label>Enter a URL:</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="{{ url.url }}" aria-label="Your website URL"
      aria-describedby="button-addon" disabled readonly>
    <button class="btn btn-outline-dark" type="button" disabled>Shorten</button>
  </div>
</form>

<form style="display: inline;">This is your shortener URL:</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" value="{{ url.url_shortened }}" id="url-shortened"
      aria-label="Shortened URL" aria-describedby="button-addon">
    <button class="btn btn-outline-secondary copy" onclick="copy()">Copy</button>
  </div>

  <script>
    function copy() {
      const URL = document.getElementById('url-shortened')
      navigator.clipboard.writeText(URL.innerText)
        .then(() => alert('Successfully copied!'))
        .catch(error => console.log(error))
    }
  </script>
</form>